.form {
    padding: 20px;
    width: max-content;
    border: 1px solid black;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin: 0 auto;
    background: white;

    input {
        border: 1px solid black;
        outline: none;
        padding: 10px;
    }
}

.passport {
    display: grid;
    column-gap: 20px;

    h4 {
        font-weight: 300;
    }

    label {
        grid-column: 1/3;
    }
}

.btn-group {
    margin-top: 40px;

    button {
        &:first-child {
            margin-right: 20px;
        }
    }
}
