.resize-cmp {
    max-width: 100%;
    resize: both;
}

.red {
    background: var(--color-red);
}

.yellow {
    background: var(--color-yellow);
}

.green {
    background: var(--color-green);
}

.silver {
    background: var(--color-silver);
}
