:root {
    --color-red: red;
    --color-green: green;
    --color-yellow: yellow;
    --color-silver: silver;
}

html,
body {
    width: 100vw;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow: auto;
}
