:root {
    --color-red: red;
    --color-green: green;
    --color-yellow: yellow;
    --color-silver: silver;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow: auto;
}

html,
body {
    width: 100vw;
    height: 100%;
}

body {
    position: relative;
}

a,
button {
    cursor: pointer;
}

#modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: max-content;
    height: max-content;
    z-index: 1000;
}
